<div class="fe-angular mx-3 mx-sm-5">
    <div class="accordion shadow-soft rounded my-5" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Week 1 - HTML, CSS and Bootstrap
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    <div class="row">
                        <div class="col-4">
                            <h4><b>HTML</b></h4>
                            <ul>
                                <li>What is Web?</li>
                                <li>HTML building blocks</li>
                                <li>Text formatting elements</li>
                                <li>Structure content with lists and tables</li>
                                <li>User input with forms</li>
                                <li>Working with images and media</li>
                                <li>Navigation with anchors</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4><b>CSS</b></h4>
                            <ul>
                                <li>Apply styling to HTML page</li>
                                <li>Fundamental CSS Properties</li>
                                <li>Box Model</li>
                                <li>Selectors</li>
                                <li>Flex and Grid</li>
                                <li>Responsive design</li>
                                <li>Animations and Transitions</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4><b>Bootstrap</b></h4>
                            <ul>
                                <li>Utility classes</li>
                                <li>Helpers</li>
                                <li>Components</li>
                                <li>Layout creation</li>
                                <li>Responsive layout</li>
                                <li>Forms</li>
                                <li>Icons and Images</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Week 2 - Programming Foundation with JavaScript
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    <div class="row">
                        <div class="col-4">
                            <h4><b>Building Blocks</b></h4>
                            <ul>
                                <li>Variables, declarations: var,let and const</li>
                                <li>Data types</li>
                                <li>Operators</li>
                                <li>Expressions</li>
                                <li>Statements</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4><b>Blocks and Iteration</b></h4>
                            <ul>
                                <li>if..else</li>
                                <li>switch...case</li>
                                <li>while</li>
                                <li>for</li>
                                <li>nested for</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4><b>Logic Development</b></h4>
                            <ul>
                                <li>Conditional programs</li>
                                <li>Iterative programs</li>
                                <li>Pattern programs</li>
                                <li>Accumulation programs</li>
                                <li>Typecasting</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Week 3 - Data Structures in Javascript
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    <div class="row">
                        <div class="col-4">
                            <h4><b>Arrays</b></h4>
                            <ul>
                                <li>Indexing and memory</li>
                                <li>Creation, reading and updation</li>
                                <li>Searching, sorting and filtering</li>
                                <li>Working with scenarios</li>
                                <li>Duplication and processing</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4><b>Object Literals and JSON</b></h4>
                            <ul>
                                <li>Properties, keys and values</li>
                                <li>Creation, accessing and updation</li>
                                <li>for-in based processing</li>
                                <li>Array of objects</li>
                                <li>Working with JSON</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4><b>Strings</b></h4>
                            <ul>
                                <li>Immutability</li>
                                <li>String handling</li>
                                <li>String methods</li>
                                <li>Array of strings</li>
                                <li>Working with strings and JSON</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Week 4 - Functional Programming with Javascript
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    <div class="row">
                        <div class="col-4">
                            <h4><b>Foundation</b></h4>
                            <ul>
                                <li>Declaration and definition</li>
                                <li>Parameters and arguments</li>
                                <li>Call by value and reference</li>
                                <li>Working with functions</li>
                                <li>Reusability</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4><b>Types</b></h4>
                            <ul>
                                <li>Function expressions and literals</li>
                                <li>Firstclass functions and callbacks</li>
                                <li>Object oriented principles</li>
                                <li>IIFE and anonymous functions</li>
                                <li>Arrow functions and default parameters</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4><b>Scope</b></h4>
                            <ul>
                                <li>Global scope, block scope and closure</li>
                                <li>Lexical scope</li>
                                <li>Working with array methods</li>
                                <li>Methods and this keyword</li>
                                <li>call, apply and bind</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Week 5 - Asynchronous activities, Events and DOM
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    <div class="row">
                        <div class="col-4">
                            <h4><b>Imperative Element Creation</b></h4>
                            <ul>
                                <li>DOM element creation</li>
                                <li>Selection, reading, updation and deletion</li>
                                <li>Styling elements</li>
                                <li>Generation of user interface</li>
                                <li>Nodelist vs HTMLCollection</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4><b>Events</b></h4>
                            <ul>
                                <li>Event listeners, handlers and event binding</li>
                                <li>Event Object and target</li>
                                <li>Form handling</li>
                                <li>Working with events</li>
                                <li>Working with DOM</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4><b>AJAX</b></h4>
                            <ul>
                                <li>Asynchronous functions</li>
                                <li>Event based API call handling</li>
                                <li>Callbacks and Promises</li>
                                <li>axios</li>
                                <li>Working with json-server</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Week 6 - Typescript and Angular Foundation
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    <div class="row">
                        <div class="col-4">
                            <h4><b>Typescript</b></h4>
                            <ul>
                                <li>Types, Functions and execution flow</li>
                                <li>Classes and class inheritance</li>
                                <li>Decorators in TypeScript</li>
                                <li>Organizing our applications with modules</li>
                                <li>Interfaces</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4><b>Setup and Foundation with Directives and Pipes</b></h4>
                            <ul>
                                <li>Angular CLI and module structure</li>
                                <li>Components</li>
                                <li>Data binding and event handling</li>
                                <li>Change detection</li>
                                <li>Directives and pipes</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4><b>Component Life Cycle</b></h4>
                            <ul>
                                <li>ngOnInit and ngOnChanges</li>
                                <li>ngDoCheck</li>
                                <li>ngViewInit and ngViewChecked</li>
                                <li>ng-template and ng-content</li>
                                <li>ViewChild</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Week 7 - Component Communication and Navigation
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    <div class="row">
                        <div class="col-4">
                            <h4><b>Events, Observables and Subjects</b></h4>
                            <ul>
                                <li>Observer Subscriber pattern</li>
                                <li>RxJS operators</li>
                                <li>Working with RxJS and Observables</li>
                                <li>Promises vs Observables</li>
                                <li>Multicasting with Subjects</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4><b>Services</b></h4>
                            <ul>
                                <li>Dependency Injection</li>
                                <li>Singleton pattern</li>
                                <li>HTTP service methods</li>
                                <li>Interceptors</li>
                                <li>API calls and CRUD operations</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4><b>Routing</b></h4>
                            <ul>
                                <li>Routing Module configuration</li>
                                <li>Parameterised routing</li>
                                <li>Guarding routes</li>
                                <li>Lazy loading</li>
                                <li>Working with routing and services</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button collapsed bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Week 8 - Handling Data with Forms
                </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    <div class="row">
                        <div class="col-4">
                            <h4><b>Template Forms</b></h4>
                            <ul>
                                <li>FormsModule and ngModel</li>
                                <li>ngForm, template variables and property binding</li>
                                <li>Form object properties, methods and events</li>
                                <li>Validation and error handling</li>
                                <li>Styling and classes</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4><b>Reactive Forms</b></h4>
                            <ul>
                                <li>ReactiveFormsModule</li>
                                <li>FormControl and FormGroup</li>
                                <li>Data binding and validation</li>
                                <li>Custom validators</li>
                                <li>Asynchronous validation</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4><b>Dynamic Forms</b></h4>
                            <ul>
                                <li>FormArray</li>
                                <li>FormBuilder</li>
                                <li>Dynamic Input validation</li>
                                <li>Iteration of Form Elements</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingNine">
                <button class="accordion-button collapsed bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    Week 9 - Architecture and Advance Angular
                </button>
            </h2>
            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    <div class="row">
                        <div class="col-4">
                            <h4><b>Module Structure</b></h4>
                            <ul>
                                <li>Core and shared modules</li>
                                <li>Feature module loading</li>
                                <li>Component decorator and meta data in depth</li>
                                <li>Directives in depth</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4><b>NgRx</b></h4>
                            <ul>
                                <li>redux and store</li>
                                <li>actions and selectors</li>
                                <li>reducer</li>
                                <li>effects</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h4><b>Angular Material</b></h4>
                            <ul>
                                <li>Setup and themes</li>
                                <li>Components</li>
                                <li>Grid list</li>
                                <li>Accessibility</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item projects">
            <h2 class="accordion-header" id="headingTen">
                <button class="accordion-button projects collapsed bg-primary p-2 p-sm-3" type="button" data-bs-toggle=""
                    data-bs-target="" aria-expanded="false" aria-controls="">
                    Week 10 - Project and Case Study
                </button>
            </h2>
            <!-- <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    
                </div>
            </div> -->
        </div>
    </div>
</div>