<div class="corp-training mx-5">
    <section class="clients card shadow-soft border-light mb-3 p-4">
        <header class="header">
            <p class="text-secondary">Trainings Provided in</p>
        </header>
        <div class="row">
            <div class="client col-sm-4 col-6 text-center" *ngFor="let clientLogo of clientLogos">
                <img [src]="clientLogo">
            </div>
        </div>
    </section>
    <!-- Desktop view -->
    <section class="d-none d-sm-block trainer card shadow-soft border-light mb-3 p-4">
        <div class="row mb-3">
            <div class="col-4">
                <div class="text-center">
                    <div class="icon icon-shape-lg shadow-soft border border-light organic-radius first">
                        <span class="fas fa-graduation-cap"></span>
                    </div>
                    <h3 class="h5 my-3">Trainer with 16+ years of training experience</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="text-center">
                    <div class="icon icon-shape-lg shadow-soft border border-light organic-radius second">
                        <span class="fa-solid fa-sitemap"></span>
                    </div>
                    <h3 class="h5 my-3">Trained freshers and professionals at 10+ organizations</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="text-center">
                    <div class="icon icon-shape-lg shadow-soft border border-light organic-radius third">
                        <span class="fa-solid fa-user-graduate"></span>
                    </div>
                    <h3 class="h5 my-3">1000+ students trained</h3>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4">
                <div class="text-center">
                    <div class="icon icon-shape-lg shadow-soft border border-light organic-radius fourth">
                        <span class="fa-solid fa-diagram-project"></span>
                    </div>
                    <h3 class="h5 my-3">Exposure to realtime usecases</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="text-center">
                    <div class="icon icon-shape-lg shadow-soft border border-light organic-radius fifth">
                        <span class="fa-solid fa-code"></span>
                    </div>
                    <h3 class="h5 my-3">Introduction of coding best practices</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="text-center">
                    <div class="icon icon-shape-lg shadow-soft border border-light organic-radius sixth">
                        <span class="fa-solid fa-list-check"></span>
                    </div>
                    <h3 class="h5 my-3">Continuous exercises on tasks and assignments</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <div class="icon icon-shape-lg shadow-soft border border-light organic-radius seventh">
                        <span class="fa-solid fa-chalkboard-user"></span>
                    </div>
                    <h3 class="h5 my-3">Regular assessment of students</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- Mobile View -->
    <section class="d-block d-sm-none trainer card shadow-soft border-light mb-3 p-4">
        <div class="mb-3">
            <div class="">
                <div class="text-center">
                    <div class="icon icon-shape-lg shadow-soft border border-light organic-radius first">
                        <span class="fas fa-graduation-cap"></span>
                    </div>
                    <h3 class="h5 my-3">Trainer with 16+ years of training experience</h3>
                </div>
            </div>
            <div class="">
                <div class="text-center">
                    <div class="icon icon-shape-lg shadow-soft border border-light organic-radius second">
                        <span class="fa-solid fa-sitemap"></span>
                    </div>
                    <h3 class="h5 my-3">Trained freshers and professionals at 10+ organizations</h3>
                </div>
            </div>
            <div class="">
                <div class="text-center">
                    <div class="icon icon-shape-lg shadow-soft border border-light organic-radius third">
                        <span class="fa-solid fa-user-graduate"></span>
                    </div>
                    <h3 class="h5 my-3">1000+ students trained</h3>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <div class="text-center">
                    <div class="icon icon-shape-lg shadow-soft border border-light organic-radius fourth">
                        <span class="fa-solid fa-diagram-project"></span>
                    </div>
                    <h3 class="h5 my-3">Exposure to realtime usecases</h3>
                </div>
            </div>
            <div class="">
                <div class="text-center">
                    <div class="icon icon-shape-lg shadow-soft border border-light organic-radius fifth">
                        <span class="fa-solid fa-code"></span>
                    </div>
                    <h3 class="h5 my-3">Introduction of coding best practices</h3>
                </div>
            </div>
            <div class="">
                <div class="text-center">
                    <div class="icon icon-shape-lg shadow-soft border border-light organic-radius sixth">
                        <span class="fa-solid fa-list-check"></span>
                    </div>
                    <h3 class="h5 my-3">Continuous exercises on tasks and assignments</h3>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <div class="text-center">
                    <div class="icon icon-shape-lg shadow-soft border border-light organic-radius seventh">
                        <span class="fa-solid fa-chalkboard-user"></span>
                    </div>
                    <h3 class="h5 my-3">Regular assessment of students</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- Desktop view -->
    <section class="d-none d-sm-block courses card shadow-soft border-light mb-3 p-4">
        <header class="header">
            <p class="text-secondary">Courses</p>
        </header>
        <div class="card shadow-inset border-light mb-3 p-4">
            <div class="row">
                <div class="col-5 d-flex align-items-center justify-content-center">
                    <img src="assets/frontend-angular.png" alt="">
                </div>
                <div class="col-7">
                    <h2 class="mb-5 text-secondary text-center course-name">Complete Frontend with Angular</h2>
                    <div class="course-details">
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating web pages using HTML</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Styling web pages using CSS and Bootstrap</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating interactivity using JavaScript</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction of type safety in Javascript using
                            Typescript</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating Single Page Applications using Angular
                        </p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction of reactive programming in Angular
                            using RxJS</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> State Management in Angular applications using
                            NgRx</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow-inset border-light mb-3 p-4">
            <div class="row">
                <div class="col-7">
                    <h2 class="mb-5 text-secondary text-center course-name">Complete Frontend with React JS</h2>
                    <div class="course-details">
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating web pages using HTML</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Styling web pages using CSS and Bootstrap</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating interactivity using JavaScript</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction of type safety in Javascript using
                            Typescript</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating Single Page Applications using React JS</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> State Management in React JS applications using Redux
                        </p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Form handling in React JS using Formik</p>
                    </div>
                </div>
                <div class="col-5 d-flex align-items-center justify-content-center">
                    <img src="assets/frontend-react.png" alt="">
                </div>
            </div>
        </div>
        <div class="card shadow-inset border-light mb-3 p-4">
            <div class="row">
                <div class="col-5 d-flex align-items-center justify-content-center">
                    <img src="assets/mean-stack.png" alt="">
                </div>
                <div class="col-7">
                    <h2 class="mb-5 text-secondary text-center course-name">Full Stack with MEAN</h2>
                    <div class="course-details">
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating Single Page Applications using Angular</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction of NodeJS for building back-end services
                        </p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Utilising the ExpressJS framework for writing APIs and
                            routing</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Setup and connect applications with the MongoDB
                            database</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Code version control using git</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction to Firebase for storage and deploying
                            applications</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow-inset border-light mb-3 p-4">
            <div class="row">
                <div class="col-7">
                    <h2 class="mb-5 text-secondary text-center course-name">Full Stack with MERN</h2>
                    <div class="course-details">
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating Single Page Applications using React JS</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction of NodeJS for building back-end services
                        </p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Utilising the ExpressJS framework for writing APIs and
                            routing</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Setup and connect applications with the MongoDB
                            database</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Code version control using git</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction to Firebase for storage and deploying
                            applications</p>
                    </div>
                </div>
                <div class="col-5 d-flex align-items-center justify-content-center">
                    <img src="assets/mern-stack.png" alt="">
                </div>
            </div>
        </div>
        <div class="card shadow-inset border-light mb-3 p-4">
            <div class="row">
                <div class="col-5 d-flex align-items-center justify-content-center">
                    <img src="assets/angular-ui.png" alt="">
                </div>
                <div class="col-7">
                    <h2 class="mb-5 text-secondary text-center course-name">Angular UI Development</h2>
                    <div class="course-details">
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction of type safety in Javascript using
                            Typescript</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating Single Page Applications using Angular</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction of reactive programming in Angular
                            using RxJS</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> State Management in Angular applications using
                            NgRx</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Writing and running unit test cases using Jasmine
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow-inset border-light mb-3 p-4">
            <div class="row">
                <div class="col-7">
                    <h2 class="mb-5 text-secondary text-center course-name">React JS UI Development</h2>
                    <div class="course-details">
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction of type safety in Javascript using
                            Typescript</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating Single Page Applications using react JS</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> State Management in React JS applications using Redux
                        </p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Form handling in React JS using Formik</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Writing and running unit test cases using Jest
                        </p>
                    </div>
                </div>
                <div class="col-5 d-flex align-items-center justify-content-center">
                    <img src="assets/react-ui.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Mobile view -->
    <section class="mobile d-block d-sm-none courses card shadow-soft border-light mb-3 p-4">
        <header class="header">
            <p class="text-secondary">Courses</p>
        </header>
        <div class="card shadow-inset border-light mb-3 p-3">
            <div class="">
                <h2 class="mb-2 text-secondary text-center course-name">Complete Frontend with Angular</h2>
                <div class="d-flex align-items-center justify-content-center mb-2">
                    <img src="assets/frontend-angular.png" alt="">
                </div>
                <div class="">
                    <div class="course-details">
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating web pages using HTML</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Styling web pages using CSS and Bootstrap</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating interactivity using JavaScript</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction of type safety in Javascript using
                            Typescript</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating Single Page Applications using Angular
                        </p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction of reactive programming in Angular
                            using RxJS</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> State Management in Angular applications using
                            NgRx</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow-inset border-light mb-3 p-3">
            <div class="">
                <h2 class="mb-2 text-secondary text-center course-name">Complete Frontend with React JS</h2>
                <div class="d-flex align-items-center justify-content-center mb-2">
                    <img src="assets/frontend-react.png" alt="">
                </div>
                <div class="">
                    <div class="course-details">
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating web pages using HTML</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Styling web pages using CSS and Bootstrap</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating interactivity using JavaScript</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction of type safety in Javascript using
                            Typescript</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating Single Page Applications using React JS</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> State Management in React JS applications using Redux
                        </p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Form handling in React JS using Formik</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow-inset border-light mb-3 p-3">
            <div class="">
                <h2 class="mb-2 text-secondary text-center course-name">Full Stack with MEAN</h2>
                <div class="d-flex align-items-center justify-content-center mb-2">
                    <img src="assets/mean-stack.png" alt="">
                </div>
                <div class="">
                    <div class="course-details">
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating Single Page Applications using Angular</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction of NodeJS for building back-end services
                        </p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Utilising the ExpressJS framework for writing APIs and
                            routing</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Setup and connect applications with the MongoDB
                            database</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Code version control using git</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction to Firebase for storage and deploying
                            applications</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow-inset border-light mb-3 p-3">
            <div class="">
                <h2 class="mb-2 text-secondary text-center course-name">Full Stack with MERN</h2>
                <div class="d-flex align-items-center justify-content-center mb-2">
                    <img src="assets/mern-stack.png" alt="">
                </div>
                <div class="">
                    <div class="course-details">
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating Single Page Applications using React JS</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction of NodeJS for building back-end services
                        </p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Utilising the ExpressJS framework for writing APIs and
                            routing</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Setup and connect applications with the MongoDB
                            database</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Code version control using git</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction to Firebase for storage and deploying
                            applications</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow-inset border-light mb-3 p-3">
            <div class="">
                <h2 class="mb-5 text-secondary text-center course-name">Angular UI Development</h2>
                <div class="d-flex align-items-center justify-content-center">
                    <img src="assets/angular-ui.png" alt="">
                </div>
                <div class="">
                    <div class="course-details">
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction of type safety in Javascript using
                            Typescript</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating Single Page Applications using Angular</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction of reactive programming in Angular
                            using RxJS</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> State Management in Angular applications using
                            NgRx</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Writing and running unit test cases using Jasmine
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow-inset border-light mb-3 p-3">
            <div class="">
                <h2 class="mb-5 text-secondary text-center course-name">React JS UI Development</h2>
                <div class="d-flex align-items-center justify-content-center">
                    <img src="assets/react-ui.png" alt="">
                </div>
                <div class="">
                    <div class="course-details">
                        <p><i class="bi bi-clipboard-check-fill"></i> Introduction of type safety in Javascript using
                            Typescript</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Creating Single Page Applications using react JS</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> State Management in React JS applications using Redux
                        </p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Form handling in React JS using Formik</p>
                        <p><i class="bi bi-clipboard-check-fill"></i> Writing and running unit test cases using Jest
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials card shadow-soft border-light mb-3 p-4">
        <header class="header pb-4">
            <h2>Testimonials</h2>
            <p class="text-secondary">What They are Saying About Us</p>
        </header>
        <carousel [showIndicators]="false" [isAnimated]="false" [interval]="0">
            <slide>
                <div class="testimonial-item">
                    <div class="profile mt-auto">
                        <div class="icon icon-shape-lg shadow-inset border border-light rounded-circle">
                            <i
                                class="fa-solid fa-user testimonial-img icon icon-md icon-shape-sm shadow-soft border border-light rounded-circle"></i>
                        </div>
                        <h3>Prakash</h3>
                        <h4>Developer</h4>
                    </div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                        If you want to make career into JavaScript, Angular, React and Node kind of technologies/frameworks.
                        Please get trained under Praveen sir.
                        The foundation you get from him will make your life so easy and trust me your will definitely turn
                        to be a good
                        developer. More than that you will never look back in your career. Please note that it needs your
                        own efforts also no
                        matter of any area. So all the best and keep learning..
                        To me I treat him as my mentor.
                    </p>
                </div>
            </slide>
            <slide>
                <div class="testimonial-item">
                    <div class="profile mt-auto">
                        <div class="icon icon-shape-lg shadow-inset border border-light rounded-circle">
                            <img src="assets/testimonials/testimonials-1.jpg"
                                class="testimonial-img icon icon-md icon-shape-sm shadow-soft border border-light rounded-circle" alt="">
                        </div>
                        <h3>Sandeep</h3>
                        <h4>Designer</h4>
                    </div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                        I Completed React JS with Redux course from VLR training which was taught by Praveen sir. His
                        way of
                        teaching is very good and understandable. He always motivate the students and explanation of
                        basic
                        concepts are very impressive. Being a Non-IT student with career gap with lots of questions in
                        my mind
                        joined in VLR .Praveen sir teaches each and every topics from very basic level (simply I can
                        spoon
                        feeding) ,Now I got enough confident and gained a very good knowledge on REACT,REDUX as well as
                        JavaScript ( including ES6) Big Thanks to Praveen sir. I strongly recommending VLR training for
                        freshers.
                    </p>
                </div>
            </slide>
            <slide>
                <div class="testimonial-item">
                    <div class="profile mt-auto">
                        <div class="icon icon-shape-lg shadow-inset border border-light rounded-circle">
                            <i
                                class="fa-solid fa-user testimonial-img icon icon-md icon-shape-sm shadow-soft border border-light rounded-circle"></i>
                        </div>
                        <h3>Shravani Keshoju</h3>
                        <h4>Developer</h4>
                    </div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                        It is my pleasure to strongly recommend Praveen Gubbala sir for React and Angular Training.
                        I have seen many great Trainers come and go.
                        Praveen Sir is one individual ,who uniquely stands out.
                        His approach towards teaching new technology or any programming is very practical.
                        He is excellent resource, and a master at JavaScript programming.
                    </p>
                </div>
            </slide>
            <slide>
                <div class="testimonial-item">
                    <div class="profile mt-auto">
                        <div class="icon icon-shape-lg shadow-inset border border-light rounded-circle">
                            <i
                                class="fa-solid fa-user testimonial-img icon icon-md icon-shape-sm shadow-soft border border-light rounded-circle"></i>
                        </div>
                        <h3>Pragnya</h3>
                        <h4>Intern</h4>
                    </div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                        If you want to make career into JavaScript, Angular, React and Node kind of
                        technologies/frameworks.
                        Please get trained under Praveen sir.
                        The foundation you get from him will make your life so easy and trust me your will definitely
                        turn to
                        be a good developer. More than that you will never look back in your career. Please note that it
                        needs
                        your own efforts also no matter of any area. So all the best and keep learning.
                        To me I treat him as a my mentor.
                    </p>
                </div>
            </slide>
            <slide>
                <div class="testimonial-item">
                    <div class="profile mt-auto">
                        <div class="icon icon-shape-lg shadow-inset border border-light rounded-circle">
                            <i
                                class="fa-solid fa-user testimonial-img icon icon-md icon-shape-sm shadow-soft border border-light rounded-circle"></i>
                        </div>
                        <h3>Anjineyulu</h3>
                        <h4>Software Developer</h4>
                    </div>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                        Dear Praveen sir , I'm very delighted to share that i got selected As A Angular Developer
                        Fresher with
                        3 LPA. Though i'm from non IT background and having a career gap, getting this opportunity was
                        possible only with the guidance and training given by You sir.
                        Big thanks to Praveen sir for his unique way of teaching, dedication and effort that You put
                        into to
                        drive us towards achieving our goals.
                        Very big thanks To VLR Technologies
                    </p>
                </div>
            </slide>
        </carousel>
    </section>
</div>