.header{
    height: 90px;
    padding: 20px 30px;
    box-shadow: 0 1px 10px 1px #557079;
    position:fixed;
    top:0;
    width: 100%;
    z-index: 999;
    background-color: #e6e7ee;
}

.btn.logo{
    padding:0 10px;
}

.d-none{
    button{
        &:hover{
            cursor:pointer;
            text-shadow: 3px 3px 3px #666666;
            @extend .text-secondary;
        }
    }
}

.text-secondary {
    color: #2D4CC8 !important;
}


/* @media(max-width:415px){
    .btn.logo{
        font-size:24px;
    }
} */

.logo{
    font-size:32px;
}