.header{
    height: 90px;
    padding: 20px 30px;
    box-shadow: 0 1px 10px 1px #557079;
    position:fixed;
    top:0;
    width: 100%;
    z-index: 999;
    background-color: #e6e7ee;
}

.btn.logo{
    padding:0 10px;
    a{
        text-decoration: none;
    }
}

.d-none{
    button{
        &:hover{
            cursor:pointer;
            text-shadow: 5px 5px 8px #666666;
            @extend .text-bold;
        }
    }
}

.text-bold {
    font-weight: bold;
}


/* @media(max-width:415px){
    .btn.logo{
        font-size:24px;
    }
} */

.logo{
    font-size:32px;
}



@media(max-width:375.2px){
    .header{
        width:375px;
    }
}

@media(max-width:360px){
    .header{
        width:360px;
    }
}

@media(max-width:320px){
    .header{
        padding:20px;
    }
}

@media(max-width:280px){
    .header{
        padding:20px 5px;
    }
}

