.header {
    height: 90px;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #e6e7ee;
}

.btn.logo {
    padding: 10px;

    a {
        text-decoration: none;
    }
}

.d-none {
    button {
        &:hover {
            cursor: pointer;
            text-shadow: 5px 5px 8px #666666;
            @extend .text-bold;
        }
    }
}

.btn {
    box-shadow: none;
    border: none;
    &:hover,
    &:focus {
        @extend .shadow-inset;
        @extend .text-bold;
    }
}

.text-bold {
    font-weight: bold;
}

.logo {
    font-size: 32px;
}

.dropdown-menu {
    li {
        &:hover {
            cursor: pointer;
            text-shadow: 3px 3px 5px #666666;

            a {
                @extend .text-bold;
            }
        }
    }

    li:first-child {
        a {
            border-top-left-radius: 0.55rem;
            border-top-right-radius: 0.55rem;
        }
    }

    li:last-child {
        a {
            border-bottom-right-radius: 0.55rem;
            border-bottom-left-radius: 0.55rem;
        }
    }
}

@media(max-width:375.2px) {
    .header {
        width: 375px;
    }
}

@media(max-width:360px) {
    .header {
        width: 360px;
    }
}

@media(max-width:320px) {
    .header {
        padding: 20px;
    }
}

@media(max-width:280px) {
    .header {
        padding: 20px 5px;
    }
}

.shadow-inset {
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
}