.nav-bar{
    width:100%;
    padding:10px;
    background-color: #e6e7ee;
    position:fixed;
    ul{
        margin:0;
        padding:0;
        list-style-type:none;
        li{
            img{
                width:24px;
            }
        }
    }
}

.offcanvas{
    background-color: #e6e7ee;
}

.offcanvas-start{
    top:90px;
    width:75%;
}

.list-group-item.active{
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
    @extend .text-secondary;
    &:first-child{
        border-top-left-radius: 0.55rem;
        border-top-right-radius: 0.55rem;
    }
    &:last-child{
        border-bottom-right-radius: 0.55rem;
        border-bottom-left-radius: 0.55rem;
    }
}

.text-secondary {
    color: #2D4CC8 !important;
}



.text-black{
    color: black;
}

.p-sp{
    padding:5px;
}

