<div class="side-panel shadow-inset">
   <div class="concept mb-2 shadow-inset rounded p-2" *ngFor="let concept of allConcepts">
        <h5 class="text-black p-sp m-0">{{concept.title}}</h5>
        <div class="list-group list-group-flush bg-primary shadow-soft rounded border-light">
            <div class="list-group-item p-0" *ngFor="let topic of concept.topicSequence" [ngClass]="currentTopicId===topic.topicId?'active':''">
                <div class="topic-link" (click)="setCurrentTopicId(topic)">{{topic.topicTitle}}</div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>