/* You can add global styles to this file, and also import other style files */
@import "./styles/neumorphism.css";
@import "./styles/loaders.css";

*{
    letter-spacing:0.01px;
}

.nav-bar{
    .offcanvas-backdrop{
        opacity:0;
    }
}

pre.ql-syntax{
    background-color: black;
    padding: 20px;
    margin:3px 0 20px;
    border-radius: 10px;
    color:white;
}

.ql-font-monospace{
    font-family: 'Cutive Mono', monospace;
    background-color: #d1d1d1;
    padding:2px 4px;
    border-radius:4px;
    font-weight:600;
}

blockquote .ql-font-monospace{
    font-family: 'Cutive Mono', monospace;
    background-color: transparent;    
}


blockquote{
    margin:3px 0;
    padding: 5px;
    border-left: 5px solid #2D4CC8;
    background-color:white;
}

.btn-primary:focus{
    background-color: #e6e7ee !important;
    border-color:#e6e7ee !important;
    color:black;
}

iframe{
    width: 100%;
    height: 500px;
}