/* You can add global styles to this file, and also import other style files */
@import "./styles/neumorphism.css";
@import "./styles/loaders.css";

.nav-bar{
    .offcanvas-backdrop{
        opacity:0;
    }
}

pre.ql-syntax{
    background-color: black;
    padding: 20px;
    margin:3px 0;
    border-radius: 10px;
    color:white;
}

.ql-font-monospace{
    font-family: 'Cutive Mono', monospace;
    background-color: #d1d1d1;
    padding:2px;
    border-radius:3px;
}

blockquote .ql-font-monospace{
    font-family: 'Cutive Mono', monospace;
    background-color: white !important;
}

ol,ul,dl{
    margin-bottom:0.5rem;
}

a{
    text-decoration: underline;
    color: #2D4CC8;
}

blockquote{
    margin:3px 0;
    padding: 5px;
    border-left: 5px solid #2D4CC8;
    background-color:white;
}

.btn-primary:focus{
    background-color: #e6e7ee !important;
    border-color:#e6e7ee !important;
    color:black;
}