<div class="home">
    <section class="card shadow-soft border-light mb-3">
        <div class="row my-3 main-banner">
            <div class="col-lg-7 d-flex flex-column justify-content-center">
                <h1 class="text-secondary">We Offer Modern Trainings for Growing Your Career</h1>
                <h2><i class="bi bi-award-fill"></i> 100% Realtime Usecases</h2>
                <h2><i class="bi bi-award-fill"></i> 1000+ Exercises</h2>
                <h2><i class="bi bi-award-fill"></i> 100+ Mini Projects</h2>
                <h2><i class="bi bi-award-fill"></i> 2 Major Projects</h2>
                <h2><i class="bi bi-award-fill"></i> 1000+ Interview Questions</h2>
            </div>
            <div class="col-lg-5 hero-img">
                <img src="assets/techs.png" class="img-fluid">
            </div>
        </div>
    </section>
    <section class="values card shadow-soft border-light mb-3 py-4">
        <div class="trainings px-5">
            <header class="header">
                <h2>Training</h2>
                <p class="text-secondary">Corporate Bootcamp and Campus Training</p>
            </header>
            <div class="row">
                <div class="col-lg-4">
                    <div class="box shadow-soft border-light rounded">
                        <div class="mb-2">
                            <img src="assets/vlr corporate training 1.jpg" class="img-fluid">
                        </div>
                        <div class="training-details">
                            <h3 class="text-secondary">Corporate Training</h3>
                            <p>
                                We Provide Industry Ready Corporate Training for freshers and upskilling professionals.
                                Blend on
                                complete foundation and realtime usecases is our promise to corporates and we provided with
                                conviction.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box shadow-soft border-light rounded">
                        <div class="mb-2">
                            <img src="assets/vlr institutional training.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="training-details">
                            <h3 class="text-secondary">Bootcamp Training</h3>
                            <p>
                                Many Freshers are transformed to employable resources from our Bootcamp Training. Industry
                                level
                                problem statements, design patterns and bestpractices are inducted in freshes with
                                minimalistic
                                approach is our approach.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box shadow-soft border-light rounded">
                        <div class="mb-2">
                            <img src="assets/vlr bootcamp training.jpg" class="img-fluid" alt="">
                        </div>
                        <div  class="training-details">
                            <h3 class="text-secondary">Campus Training</h3>
                            <p>
                                Introduction to Industry Standards and Practices at College level helped thousands of
                                students
                                to get motivated and successful. We deliver the process of Incorporating conceptual depth
                                elates
                                students to get confidence and capability to be a fruitful career.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features card shadow-soft border-light mb-3 py-4">
        <div class="container">
            <header class="header">
                <h2>What we are with?</h2>
                <p class="text-secondary">Technologies We Offer</p>
            </header>
            <div class="row">
                <div class="col-lg-6">
                    <img src="assets/features.png" class="img-fluid" alt="">
                </div>
                <div class="technologies col-lg-6 mt-5 mt-lg-0 d-flex">
                    <div class="row align-self-center gy-4">
                        <div class="col-6">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3 class="text-secondary me-2">Angular</h3>
                                <img src="assets/angular_logo_new.png" class="angular-animate" height="30px" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3 class="text-secondary me-2">ReactJS</h3>
                                <img src="assets/react_logo.png" class="react-animate" height="30px" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3 class="text-secondary me-2">NodeJS</h3>
                                <img src="assets/node_js_logo.png" class="node-animate" height="60px" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3 class="text-secondary me-2">MongoDB</h3>
                                <img src="assets/mongo-leaf.png" class="mongo-animate" height="30px" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3 class="text-secondary me-2">ExpressJS</h3>
                                <img src="assets/express_logo.png" class="express-animate" height="80px" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="feature-box d-flex align-items-center">
                                <i class="bi bi-check"></i>
                                <h3 class="text-secondary me-2">JavaScript</h3>
                                <img src="assets/js_logo.png" class="js-animate" height="30px" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- / row -->
        </div>
    </section>
    <section class="counts mb-3">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-3 col-md-6">
                    <div class="count-box shadow-soft border-light rounded">
                        <i class="bi bi-emoji-smile"></i>
                        <div>
                            <span class="purecounter">15+</span>
                            <p>Happy Clients</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="count-box shadow-soft border-light rounded">
                        <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
                        <div>
                            <span class="purecounter">1000+</span>
                            <p>Students</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="count-box shadow-soft border-light rounded">
                        <i class="bi bi-headset" style="color: #15be56;"></i>
                        <div>
                            <span class="purecounter">300+</span>
                            <p>Placements</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="count-box shadow-soft border-light rounded">
                        <i class="bi bi-people" style="color: #bb0852;"></i>
                        <div>
                            <span class="purecounter">10+</span>
                            <p>Companies</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about card shadow-soft border-light mb-3">
        <div class="row gx-0">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <div class="content">
                    <h3>Who We Are</h3>
                    <h2 class="text-secondary">Ardent Team of Professionals with Diverse Experience in IT Industry</h2>
                    <p>
                        Edupoly is a software company that improves enterprises in their businesses for the digital age. Edupoly also educates young graduates to industry ready professionals. Our technical DNA enables global enterprises to transform their businesses via Digital Foundation, our modernized infrastructure stack built around hybrid cloud, software-defined networks, the digital workplace, and other elements; Digital Business, a combination of our application services and consulting capabilities; and Digital Operations, a three-pronged setup for modernized and efficient operations at enterprise level.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <img src="assets/about.jpg" class="img-fluid">
            </div>
        </div>
    </section>
    <section class="clients card shadow-soft border-light mb-3 p-4">
        <header class="header">
            <h2>Clients</h2>
            <p class="text-secondary">Companies Hired Our Resources for Corporate Training</p>
        </header>
        <div class="row">
            <div class="client col-sm-4 col-6 text-center" *ngFor="let clientLogo of clientLogos">
                <img [src]="clientLogo">
            </div>
        </div>
    </section>
    <section class="testimonials card shadow-soft border-light mb-3 p-4">
        <header class="header pb-4">
            <h2>Testimonials</h2>
            <p class="text-secondary">What They are Saying About Us</p>
        </header>
        <carousel [showIndicators]="false" [isAnimated]="true" [interval]="2000">
            <slide>
                <div class="testimonial-item">
                    <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                        If you want to make career into JavaScript, Angular, React and Node kind of technologies/frameworks.
                        Please get trained under Praveen sir.
                        The foundation you get from him will make your life so easy and trust me your will definitely turn to be a good
                        developer. More than that you will never look back in your career. Please note that it needs your own efforts also no
                        matter of any area. So all the best and keep learning..
                        To me I treat him as my mentor.
                    </p>
                    <div class="profile mt-auto">
                        <div class="icon icon-shape-lg shadow-inset border border-light rounded-circle">
                            <i class="fa-solid fa-user testimonial-img icon icon-md icon-shape-sm shadow-soft border border-light rounded-circle"></i>
                        </div>
                        <h3>Prakash</h3>
                        <h4>Developer</h4>
                    </div>
                </div>
            </slide>
            <slide>
                <div class="testimonial-item">
                    <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                        I Completed React JS with Redux course from VLR training which was taught by Praveen sir. His
                        way of
                        teaching is very good and understandable. He always motivate the students and explanation of
                        basic
                        concepts are very impressive. Being a Non-IT student with career gap with lots of questions in
                        my mind
                        joined in VLR .Praveen sir teaches each and every topics from very basic level (simply I can
                        spoon
                        feeding) ,Now I got enough confident and gained a very good knowledge on REACT,REDUX as well as
                        JavaScript ( including ES6) Big Thanks to Praveen sir. I strongly recommending VLR training for
                        freshers.
                    </p>
                    <div class="profile mt-auto">
                        <div class="icon icon-shape-lg shadow-inset border border-light rounded-circle">
                            <img src="assets/testimonials/testimonials-1.jpg"
                                class="testimonial-img icon icon-md icon-shape-sm shadow-soft border border-light rounded-circle" alt="">
                        </div>
                        <h3>Sandeep</h3>
                        <h4>Designer</h4>
                    </div>
                </div>
            </slide>
            <slide>
                <div class="testimonial-item">
                    <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                        It is my pleasure to strongly recommend Praveen Gubbala sir for React and Angular Training.
                        I have seen many great Trainers come and go.
                        Praveen Sir is one individual ,who uniquely stands out.
                        His approach towards teaching new technology or any programming is very practical.
                        He is excellent resource, and a master at JavaScript programming.
                    </p>
                    <div class="profile mt-auto">
                        <div class="icon icon-shape-lg shadow-inset border border-light rounded-circle">
                            <i class="fa-solid fa-user testimonial-img icon icon-md icon-shape-sm shadow-soft border border-light rounded-circle"></i>
                        </div>
                        <h3>Shravani Keshoju</h3>
                        <h4>Developer</h4>
                    </div>
                </div>
            </slide>
            <slide>
                <div class="testimonial-item">
                    <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                        If you want to make career into JavaScript, Angular, React and Node kind of
                        technologies/frameworks.
                        Please get trained under Praveen sir.
                        The foundation you get from him will make your life so easy and trust me your will definitely
                        turn to
                        be a good developer. More than that you will never look back in your career. Please note that it
                        needs
                        your own efforts also no matter of any area. So all the best and keep learning.
                        To me I treat him as a my mentor.
                    </p>
                    <div class="profile mt-auto">
                        <div class="icon icon-shape-lg shadow-inset border border-light rounded-circle">
                            <i class="fa-solid fa-user testimonial-img icon icon-md icon-shape-sm shadow-soft border border-light rounded-circle"></i>
                        </div>
                        <h3>Pragnya</h3>
                        <h4>Intern</h4>
                    </div>
                </div>
            </slide>
            <slide>
                <div class="testimonial-item">
                    <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <p>
                        Dear Praveen sir , I'm very delighted to share that i got selected As A Angular Developer
                        Fresher with
                        3 LPA. Though i'm from non IT background and having a career gap, getting this opportunity was
                        possible only with the guidance and training given by You sir.
                        Big thanks to Praveen sir for his unique way of teaching, dedication and effort that You put
                        into to
                        drive us towards achieving our goals.
                        Very big thanks To VLR Technologies
                    </p>
                    <div class="profile mt-auto">
                        <div class="icon icon-shape-lg shadow-inset border border-light rounded-circle">
                            <i class="fa-solid fa-user testimonial-img icon icon-md icon-shape-sm shadow-soft border border-light rounded-circle"></i>
                        </div>
                        <h3>Anjineyulu</h3>
                        <h4>Software Developer</h4>
                    </div>
                </div>
            </slide>
        </carousel>
    </section>
    <section class="contact  card shadow-soft border-light mb-3 p-4">
        <div class="container">
            <header class="header">
                <h2>Contact</h2>
                <p>Contact Us</p>
            </header>
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="row gy-4">
                        <div class="col-md-6">
                            <div class="info-box shadow-soft rounded">
                                <i class="bi bi-geo-alt"></i>
                                <h3>Address</h3>
                                <p>6th Floor, JSP Imperia, Street Number 3, Patrika Nagar, Hitech City, Madhapur,
                                    Hyderabad,
                                    Telangana,
                                    India
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box shadow-soft rounded">
                                <i class="bi bi-telephone"></i>
                                <h3>Call Us</h3>
                                <p>+919561214818</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box shadow-soft rounded">
                                <i class="bi bi-envelope"></i>
                                <h3>Email Us</h3>
                                <p>info.edupoly@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box shadow-soft rounded">
                                <i class="bi bi-clock"></i>
                                <h3>Open Hours</h3>
                                <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form class="email-form">
                        <div class="row gy-4">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <textarea class="form-control" name="message" rows="6" placeholder="Message"
                                    required></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>