.home {
    margin: 120px 48px 0;
}

.main-banner {
    margin: 0 40px;

    h1 {
        font-weight: 700;
    }

    h2 {
        margin-left: 40px;
        color: #4154f1;
        font-weight: bold;

        i {
            color: gold;
        }
    }

    .col-lg-7,
    .col-lg-5 {
        padding: 0;
    }
}

.about .content {
    padding: 40px;
}

.about img {
    border-top-right-radius: 0.55rem;
    border-bottom-right-radius: 0.55rem;
}

.about h3 {
    font-size: 13px;
    font-weight: 700;
    color: #4154f1;
    text-transform: uppercase;
}

.about h2 {
    font-size: 24px;
    font-weight: 700;
    color: #012970;
}

.about p {
    margin: 15px 0 30px 0;
    line-height: 24px;
}

.shadow-inset {
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #FFFFFF !important;
}

.values .box {
    text-align: center;
    transition: 0.3s;
    height: 100%;

    &:hover {
        @extend .shadow-inset;
    }

    .training-details {
        padding: 0 0.5rem;
    }
}

.values .box img {
    border-top-left-radius: 0.55rem;
    border-top-right-radius: 0.55rem;
}

.values .box h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 18px;
}

.header {
    text-align: center;
    padding-bottom: 40px;
}

.header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
}

.header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .header p {
        font-size: 28px;
        line-height: 32px;
    }
}

.features .feature-box {
    padding: 24px 20px;
    transition: 0.3s;
    height: 100%;
}

.features .feature-box h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.features .feature-box i {
    line-height: 0;
    background: #ecf3ff;
    padding: 4px;
    margin-right: 10px;
    font-size: 24px;
    border-radius: 3px;
    transition: 0.3s;
    border: 1px solid #4154f1;
}

.features .feature-box:hover i {
    background: #4154f1;
    color: #fff;
}

@keyframes flip-y {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(180deg);
    }
}

/* @keyframes flip-xy {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotateX(360deg);
    }

    66% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(0deg);
    }
} */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(-20deg);
    }

    66% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes enlarge {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes enlarge-y {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes spiral {
    0% {
        transform: scale(0) rotate(0deg);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}

.features {
    .angular-animate {
        animation-name: flip-y;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    .react-animate {
        animation-name: rotate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .mongo-animate {
        animation-name: wave;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    .js-animate {
        animation-name: spiral;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    .node-animate {
        animation-name: enlarge;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    .express-animate {
        animation-name: enlarge-y;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

.counts {
    padding: 70px 0 60px;
}

.counts .count-box {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 100%;
}

.counts .count-box i {
    font-size: 42px;
    line-height: 0;
    margin-right: 20px;
    color: #4154f1;
}

.counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #0b198f;
}

.counts .count-box p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.clients img {
    box-sizing: content-box;
    height: 30px;
    padding: 20px;
    filter: grayscale(100%);

    &:hover {
        filter: grayscale(0%);
        @extend .shadow-inset;
        border-radius: 0.55rem;
    }
}

.testimonials .testimonial-item {
    padding: 30px 130px;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
}

.testimonials .testimonial-item .stars {
    margin-bottom: 15px;
}

.testimonials .testimonial-item .stars i {
    color: #ffc107;
    margin: 0 1px;
}

.testimonials .testimonial-item .testimonial-img {
    margin: 0 auto;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    height: 100px;
}

.contact .info-box {
    color: #444444;
    padding: 30px;
}

.contact .info-box i {
    font-size: 38px;
    line-height: 0;
    color: #4154f1;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #012970;
    font-weight: 700;
    margin: 20px 0 10px 0;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.contact .email-form {
    padding: 30px;
    height: 100%;
}

.contact .email-form input,
.contact .email-form textarea {
    font-size: 14px;
}

.contact .email-form input {
    padding: 10px 15px;
}

.contact .email-form textarea {
    padding: 12px 15px;
}

.form-control:focus {
    @extend .shadow-inset;
}

.contact .email-form button[type=submit] {
    background: #4154f1;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .email-form button[type=submit]:hover {
    background: #5969f3;
}

@media(max-width:576px) {
    .shadow-soft {
        box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff !important;
    }

    .home {
        margin: 120px 32px 0;
    }

    .main-banner {
        margin: 0 16px;

        h1 {
            font-size: 24px;
        }

        h2 {
            margin: 2px 0;
            font-size: 20px;
        }
    }

    .values {
        border: none;
        box-shadow: none !important;

        .trainings {
            padding: 0 !important;
        }

        header {
            display: none;
        }

        .box {
            &:hover {
                @extend .shadow-soft;
            }

            padding: 0;

            img {
                padding: 0;
                margin-bottom: 10px;
                transition: none;
                transform: none;
                border-top-left-radius: 0.55rem;
                border-top-right-radius: 0.55rem;
            }

            .training-details {
                padding: 20px 30px 30px;
            }
        }
    }

    .features {
        .technologies {
            padding: 0;

            .col-6 {
                padding: 0;

                .feature-box {
                    padding: 24px 26px;

                    i {
                        padding: 0;
                    }

                    h3 {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .clients {
        img {
            padding: 10px 0;
            filter: none;

            &:hover {
                filter: none;
                box-shadow: none !important;
                border: none !important;
            }
        }

        .client {
            padding: 0 !important;
        }
    }

    .testimonials .testimonial-item {
        padding: 30px 50px !important;

        p{
            height:auto;
            font-size: 12px;
        }
    }
}