<!-- <div class="fe-angular mx-3 mx-sm-5">
    <div class="accordion shadow-soft rounded my-5" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Week 1 - HTML, CSS and Bootstrap
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    <ul>
                        <li>Putting HTML5 in Context</li>
                        <li>Web Server, HTTP, WebClient</li>
                        <li>Getting Started with HTML</li>
                        <li>Getting Started with CSS</li>
                        <li>Getting Started with JavaScript</li>
                        <li>HTML Elements in Context</li>
                        <li>Creating HTML Documents</li>
                        <li>Marking Up Text</li>
                        <li>Grouping Content</li>
                        <li>Creating Sections</li>
                        <li>Table Elements</li>
                        <li>Working with Forms</li>
                        <li>Working with images</li>
                        <li>Customizing the Input Element</li>
                        <li>Other Form Elements and Input Validation</li>
                        <li>Embedding Content</li>
                        <li>HTML5 Video and Audio Elements</li>
                        <li>HTML5 Semantic Elements</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Week 2 - Advanced CSS and Bootstrap
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    aedwefdwed
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Week 3 - JavaScript Foundation
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    ertert
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    Week 4 - JavaScript Data Structures
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    ergerf
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                    Week 5 - Functional Programming in JavaScript
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    egergerg
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                    Week 6 - Asynchronous JavaScript, DOM and Events
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    ergerr
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                    Week 7 - TypeScript and Angular Foundation
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    45te4te5tg
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button collapsed bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                    Week 8 - Services and RxJS
                </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    etetgetge
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingNine">
                <button class="accordion-button collapsed bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
                    Week 9 - Angular Routing and Forms
                </button>
            </h2>
            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    5tg3 t34t
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTen">
                <button class="accordion-button collapsed bg-primary p-2 p-sm-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseThree">
                    Week 10 - Projects
                </button>
            </h2>
            <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                data-bs-parent="#accordionExample">
                <div class="accordion-body bg-primary">
                    e5te5r
                </div>
            </div>
        </div>
    </div>
</div> -->